#home {
    height: 95vh;
    background-color: #E3BAB3;
}

h1, h2, h3, h4 {
    color: #613A43;
}

nav {
    background-color: #36384C;
}

#intro {
    padding-top: 35vh;
}

#intro h1 {
    letter-spacing: .15em;
}

#navLogo {
    margin-right: .5em;
}

#scrollIcon {
    margin-top: 40vh;
    opacity: .5;
}

#headshot {
    border: 0;
    padding: 0;
    max-height: 50vh;
}

/* #about {

} */

.section {
    margin-top: 7em;
}

.projectCard {
    margin-top: 1em;
    margin-bottom: 1em;
}