#home {
    height: 95vh;
}

#intro {
    padding-top: 35vh;
}

#intro h1 {
    letter-spacing: .15em;
}

#navLogo {
    margin-right: .5em;
}

#scrollIcon {
    margin-top: 40vh;
    opacity: .5;
}

#headshot {
    border: 0;
    padding: 0;
    max-height: 50vh;
}

/* #about {

} */

.section {
    margin-top: 7em;
}