#home {
    height: 1070px;
    background-color: #7D98A1;
    position: relative;
}

i {
    position: absolute;
    margin-bottom: 20px;
}

p, h4 {
    font-family: 'Open Sans', sans-serif;
    color: #1C2321;
}

hr {
    color: #6B964C;
}

h1, h2, h3 {
    font-family: 'Baskervville', serif;
    color: #1C2321;
}

nav {
    background-color: #1C2321;
    color: #EEF1EF;
}

#intro {
    padding-top: 35vh;
}

#intro h1 {
    letter-spacing: .15em;
}

#navLogo {
    margin-right: .5em;
}

#scrollIcon {
    margin-top: 40vh;
    opacity: .5;
}

#headshot {
    border: 0;
    padding: 0;
    max-height: 50vh;
}

/* #about {

} */

.section {
    margin-top: 7em;
}

.projectCard {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #1C2321;
}